.flex-container {
    display:flex;
    flex-direction: row;
    background-color: white;
    width:100%;
    border-bottom: 1.5px solid #D3D3D3;
    letter-spacing: 1.5px;
}

.flex-item {
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.flex-item-rest {
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}

.non-second {
    border-left: 1.5px solid #D3D3D3;
}

.flex-item-main {
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    border-right: 1.5px solid #D3D3D3;
}

.flex-item a {
    color:#808080;
    text-decoration: none;
}

.flex-item-main a {
    color: black;
    font-weight: 600;
}