@import "tailwindcss";
@import "@catppuccin/palette/css/catppuccin.css";

:root {
  --theme-base: var(--ctp-latte-base);
  --theme-text: var(--ctp-latte-text);
  --theme-crust: ;
  --theme-mantle: ;
  --theme-mauve: ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-base: var(--ctp-frappe-base);
    --theme-text: var(--ctp-frappe-text);
  }
}

@theme {
  --color-theme-base: var(--theme-base);
  --color-theme-text: var(--theme-text);
  --color-theme-crust: var(--theme-crust);
  --color-theme-mantle: var(--theme-mantle);
  --color-theme-mauve: var(--theme-mauve);
}

body {
  background: var(--color-theme-base);
  font-family: Arial, Helvetica, sans-serif;
}
